.itt_badget-postion {
  position: absolute;
  background-color: cadetblue;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 25%;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
