// ---=== Stars ===---
.itt_rp-stars {

  .itt_rp-stars-rating-empty {
    position: relative;

    &:before {
      content: "\f006\f006\f006\f006\f006";
      font-family: FontAwesome;
      color: $dark-grey;
      font-size: 25px;
    }
  }

  .itt_rp-stars-rating {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;

    &:before {
      content: "\f005\f005\f005\f005\f005";
      font-family: FontAwesome;
      color: $gold;
      font-size: 25px;
      width: 80px;
    }
  }
}