.itt_tabs {
  margin: 0;


  .itt_tab {
    background-color: #8a8ec3;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;

    a {
      color: #fff;
      padding: 10px 25px;
      display: block;
      min-width: 100px;
    }

    a:hover {
      color: #fff;
    }

    &.active {
      background-color: #4d5073;

      a {
        color: #fff;
      }
    }
  }
}

.itt_tab-panel {
  display: none;
}

.itt_tabs-panel-wrap {
  padding: 20px;
  border-top: 3px solid #4d5073;
  border-right: 3px solid #4d5073;
  border-bottom: 3px solid #4d5073;
}