// ---=== Cards Styles ===---
.itt_cat-card {
  width: 100%;
  height: 225px;
  margin-top: 10px;
}

.itt_cat-card-content {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 0 50px;
}