.owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;

  .owl-dot {
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;

    span {
      display: block;
      content: '';
      border: 2px solid $primary-color;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin: 10px auto;
      transition: all 0.3s;
    }

    &.active {

      span {
        background-color: $orange;
        border: 2px solid $primary-color;
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 10px auto;
        transition: all 0.3s;
      }
    }
  }
}

.owl-carousel {
  margin: 0 50px;

  .owl-wrapper-outer {
    overflow: hidden;
    width: 100%;

    .owl-wrapper {
      display: flex;
      justify-content: center;

      .owl-item {
        float: left;
        height: 120px;
        display: flex;
        align-items: center;
      }
    }
  }
}

#owl-demo .item {
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.customNavigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  height: 132px;

  .btn {
    color: #cac9c9;
  }
}