// ---=== Widget zone cards ===---
.itt_rp-widget-item {
  box-shadow: 0.5px 0.866px 4px 0px rgba( 0, 0, 0,0.1 );
  margin-bottom: 10px;
  padding: 0;
  max-height: 90px;
}

.itt_rp-widget-content {
  width: 100%;
}

.itt_rp-widget-img {
  width: 90px;
  background-color: $widget_img_bg-color;
}
