// ---=== Default styles ===---

hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid $grey;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  //margin-bottom: 14px;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.itt_content {
  margin: 0 auto;
  position: relative;
}

.itt_flex {
  display: flex;
}

.itt_row {
  flex-direction: row;
}

.itt_column {
  flex-direction: column;
}

.itt_flex-wrap {
  flex-wrap: wrap;
}

.itt_right {
  justify-content: flex-end;
}

.itt_left {
  justify-content: flex-start;
}

.itt_center {
  justify-content: center;
}

.itt_between {
  justify-content: space-between;
}

.itt_top {
  align-items: flex-start;
}

.itt_bottom {
  align-items: flex-end;
}


.itt_middle {
  align-items: center;
}

.itt_flex-1 {
  flex: 1;
}

.itt_flex-05 {
  flex: 0.5;
}

.itt_h-1 {
  height: 100%;
}

.itt_w-1 {
  width: 100%;
}

:focus {
  outline: none;
}

.itt_upper-case {
  text-transform: uppercase;
}

.itt_text-center {
  text-align: center;
}

.itt_text-bold {
  font-weight: 700;
}

.itt_font-bold {
  font-family: Roboto-Bold;
}

.itt_font-light {
  font-family: Roboto-Light;
}

// Borders
.itt_border_bottom {
  border-bottom: 1px solid #e0e0e0;
}

.itt_border_right {
  border-right: 1px solid #e0e0e0;
}

// Paddings
.itt_pad-title {
  padding: 5px 15px;
}

.itt_p-clear {
  padding: 0;
}

.itt_pt-100 {
  padding-top: 100px;
}

.itt_pt-50 {
  padding-top: 50px;
}

.itt_pt-20 {
  padding-top: 20px;
}

.itt_pt-10 {
  padding-top: 10px;
}

.itt_pb-100 {
  padding-bottom: 100px;
}

.itt_pb-50 {
  padding-bottom: 50px;
}

.itt_pb-30 {
  padding-bottom: 30px;
}

.itt_pb-20 {
  padding-bottom: 20px;
}

.itt_pb-10 {
  padding-bottom: 10px;
}

.itt_padding-10 {
  padding: 10px;
}

.itt_padding-20 {
  padding: 20px;
}

.itt_padding-30 {
  padding: 30px;
}

.itt_padding-40 {
  padding: 40px;
}

.itt_pl-10 {
  padding-left: 10px;
}

.itt_pr-50 {
  padding-right: 50px;
}

.itt_pr-40 {
  padding-right: 40px;
}

.itt_pr-30 {
  padding-right: 30px;
}

.itt_pr-20 {
  padding-right: 20px;
}

.itt_pr-10 {
  padding-right: 10px;
}

.itt_prl-50 {
  padding: 0 50px;
}

.itt_prl-40 {
  padding: 0 40px;
}

.itt_prl-30 {
  padding: 0 30px;
}

.itt_prl-20 {
  padding: 0 20px;
}

.itt_prl-10 {
  padding: 0 10px;
}

.itt_pl-20 {
  padding-left: 20px;
}

// Margins
.itt_m-clear {
  margin: 0;
}

.itt_mt-50 {
  margin-top: 50px;
}

.itt_mt-40 {
  margin-top: 40px;
}

.itt_mt-30 {
  margin-top: 30px;
}

.itt_mt-20 {
  margin-top: 20px;
}

.itt_mt-10 {
  margin-top: 10px;
}

.itt_mt-0 {
  margin-top: 0;
}

.itt_mb-50 {
  margin-bottom: 50px;
}

.itt_mb-20 {
  margin-bottom: 20px;
}

.itt_mb-10 {
  margin-bottom: 10px;
}

.itt_mt-10-a {
  margin: 10px auto;
}

.itt_mr-50 {
  margin-right: 50px;
}

.itt_mr-40 {
  margin-right: 40px;
}

.itt_mr-30 {
  margin-right: 30px;
}

.itt_mr-20 {
  margin-right: 20px;
}

.itt_mr-10 {
  margin-right: 10px;
}
.itt_ml-100 {
  margin-left: 100px;
}

.itt_ml-50 {
  margin-left: 50px;
}

.itt_ml-40 {
  margin-left: 40px;
}

.itt_ml-30 {
  margin-left: 30px;
}

.itt_ml-20 {
  margin-left: 20px;
}

.itt_ml-10 {
  margin-left: 10px;
}


// Animations
.itt_grows-04 {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.4);
  }
}

.itt_grows-03 {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.3);
  }
}

.itt_grows-02 {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.itt_grows-01 {
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.show {
  display: block !important;
}


// ---=== COLORS ===---

// bg colors
.itt_bg-orange {
  background-color: $orange;
}

.itt_bg-green {
  background-color: $green;
}

.itt_bg-yellow {
  background-color: $yellow;
}

.itt_bg-violet {
  background-color: $violet;
}

.itt_bg-grey {
  background-color: $grey;
}

.itt_bg-light-grey {
  background-color: $light_grey;
}

.itt_bg-footer-top {
  background-color: $footer_top;
  color: $footer_top_color;
}

.itt_bg-footer-bot {
  background-color: $footer_bot;
  color: $footer_bot_color;
}

.itt_bg-white {
  background-color: $white;
}

.itt_bg-primary {
  background-color: $primary-color;
}

// colors
.itt_color-mega-yellow {
  color: $mega_yellow;
}

.itt_color-yellow {
  color: $yellow;
}

.itt_color-orange {
  color: $orange;
}

.itt_color-grey {
  color: $grey;
}

.itt_color-dark-grey {
  color: $dark_grey;
}

.itt_color-white {
  color: $white;
}

.itt_color-blue {
  color: $blue;
}

.itt_color-primary {
  color: $primary-color;
}

//---=== Titles ===---
.itt_title {
  margin: 0 0 5px 0;
  font-size: 24px;
  line-height: 24px;
}

.itt_title-30 {
  font-size: 30px;
  line-height: 30px;
}

.itt_title-40 {
  font-size: 40px;
  line-height: 40px;
}

.itt_title-50 {
  font-size: 50px;
  line-height: 50px;
}

.itt_title-150 {
  margin: 50px 0 0 0;
  font-size: 150px;
  line-height: 150px;
}

// subtitle
.itt_subtitle {
  margin: 0 0 20px 0;
  font-size: 15px;
}

.itt_subtitle-50 {
  font-size: 50px;
}

.itt_subtitle-100 {
  font-size: 100px;
}


// Buttons
.itt_btn-wrapper {
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-around;
}

.itt_btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.itt_btn-default {
  text-decoration: none;
  cursor: pointer;
  color: $btn_default;
  background-color: $btn_default_bg;

  &:hover {
    color: $btn_hover;
    box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
    transition: all 0.5s ease-in-out;
  }
}

.itt_btn-primary {
  text-decoration: none;
  cursor: pointer;
  color: $white;
  background-color: $btn_primary_bg;

  &:hover {
    color: $orange;
    box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
    transition: all 0.5s ease-in-out;
  }
}

.itt_btn-amazon {
  text-decoration: none;
  cursor: pointer;
  color: $white;
  background-color: $orange;

  &:hover {
    color: rgba(0,0,0, 0.8);
    box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
    transition: all 0.5s ease-in-out;
  }
}

.itt_btn-br5 {
  border-radius: 5px;
}

// Thumbs
.itt_thumb {
  width: 100%;
}

// Link
.itt_link {
  
  &:hover {
    color: $link_hover;
  }
}

// Forms
input {
  border: none;
}

select {
  padding: 5px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  min-width: 150px;
  appearance:none;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 95% 40%;
}


.itt_form-control {
  padding: 10px 0;

  input {
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    width: 90%;
    background-color: transparent;

    &:hover {
      color: $primary-color;
    }

    &:focus {
      border-bottom: 1px solid $primary-color;
      transition: all 0.5s ease-in-out;
    }
  }

  textarea {
    width: 90%;
    height: 80px;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: transparent;

    &:hover {
      color: $primary-color;
    }

    &:focus {
      border: 1px solid $primary-color;
      transition: all 0.5s ease-in-out;
    }
  }
}


.itt_form-address {

  .itt_form-address-field {
    padding: 10px 0;
  }
}

// ---=== Crop images ===---
.itt_crop {
  overflow: hidden;
  height: 370px;

  img {
    margin-top: -180px;
  }
}

.itt_cover-img {
  height: 23em;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.itt_cover-text {
  font-size: 50px;
}

// ---=== Filters
.itt_darken {
  filter: brightness(50%);
}


// ---=== Blog ===---
.itt_widget-area li {
  padding-bottom: 14px;
}

.itt_post-info {
  font-size: 12px;

  .itt_post-info-item:before {
    display: inline-block;
    content: "|";
    vertical-align: top;
    font-style: normal;
    margin: 0 0.6em;
  }

  .itt_post-info-item:nth-child(1):before {
    content: "";
    margin: 0;
  }
}

.itt_post-desc, .itt_comment-notes {
  color: $post_desc;
  line-height: 25px;
}


// ---=== Single blog page ===---
img.itt_author_avatar {
  width: 75px;
}

// ---=== Footer ===---
.itt_wrap-copyright {
  min-height: 75px;

  .itt_copyright {
    color: #fff;
  }
}

// Colors
.itt_recent-products-color {
  background-color: $primary-color;
  color: $secondary-color;
}

// Columns
.itt_columns-4 {
  column-count: 4;
}

// BG hover
.itt_bg-icon-hover {
  position: absolute;
  color: #fff;
  font-size: 50px;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

// POST
.itt_post-title {
  //color: $dark_grey;
}

.itt_hidden{
  display: none;
}

// Contact page
.itt_contact-icon i {
  font-size: 50px;
}

.itt_404-wrap {
  margin: 30px auto;
}

.itt_contact-icon {
  color: $dark_grey;
}

.itt_wrap-img {
  padding: 2px;
  width: 230px;
  height: 288px;
  float: left;
  position: relative;
}

// Position
.itt_relative {
  position: relative;
}

.itt_btn-post {
  width: 120px;
  margin-right: 20%;
}

img.itt_item-img {
  width: 100%;
}

// ---=== Short description (Shop page card) ===---
.itt_short-desc {
  font-size: 18px;
}

.itt_watched-product {
  border-top: 1px solid #d8d8d8;
  position: relative;

  .fa-eye {
    color: #d8d8d8;
    background-color: #fff;
    position: absolute;
    top: -25px;
    width: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}


//Blog, 404, Category
.itt_single-img {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 20px;
  border: 3px solid #A5A9E2;
}

.itt_news-content {
  border: 3px solid #A5A9E2;
  padding: 30px;
  line-height: 25px;
}

.itt_social {
  width: 4%;
  position: absolute;
  bottom: 0;
  left: 21.4%;
  border: 3px solid #A5A9E2;

}

.itt_social a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;

  i.fa {
    font-size: 20px;
    color: white;
  }

  &.itt_social-vk {
    background-color: #4C75A3;
  }

  &.itt_social-fb {
    background-color: #3C579E;
  }

  &.itt_social-g {
    background-color: #D95032;
  }

  &.itt_social-tw {
    background-color: #55ACEE;
  }
}

.itt_news {
  width: 100%;
  text-align: center;
  color: #807A7A;
}

.itt_popular-content {
  border: 3px solid #E6E6E6;
  padding: 30px;
  line-height: 25px;
  color: #605F5F;
  margin-bottom: 40px;
  width: 85%;
}

.itt_popular-img {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 20px;
  border: 3px solid #E6E6E6;
}

.itt_wrap-popular-img {
  padding: 20px;
  width: 40%;
  height: 120px;
  float: left;
  position: relative;
}

.itt_popular-tag {
  width: 60%;
  padding: 5%;
  text-align: right;
  color: #605F5F;
}

.itt_popular-btn {
  text-align: center;
  border: none;
  padding: 0 15px;
  float: right;
  line-height: 2.4;
  background-color: #5AAB7E;
  color: white;
  margin-bottom: 2%;
  margin-right: 15%;
}

.itt_blog-btn{
  text-align: center;
  border: none;
  padding: 0 15px;
  float: right;
  line-height: 2.4;
  background-color: #545778;
  color: white;
  width: 105px;
  margin-top: 75%;
  margin-bottom: 5%;
}

.itt_rp-img {
  width: 100%;
  background-color: #FAFAFA;
  position: relative;
  overflow: hidden;
}
.itt_rp-img {
  height: 100%;
  background-color: transparent !important;
}

.itt_pad-arrow .itt_nav-item-arrow:hover, .itt_rp-link:hover, .itt_social-link:hover {
  color: #b41cff;
}
// ---==== ===---




