@font-face {
  font-family: Roboto-Thin;
  src: url(../font/Roboto-Thin.woff);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../font/Roboto-Light.woff);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../font/Roboto-Medium.woff);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.woff);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.woff);
}
@font-face {
  font-family: Helvetica-Light;
  src: url(../font/Helvetica-Light.woff2);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../font/raleway-regular.woff2);
}

@font-face {
  font-family: Helvetica-Light;
  src: url(../font/Helvetica-Light.woff2);
}

body {
  font-family: "Helvetica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin-bottom: 0;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6, p, li, a, span, div {
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
